<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
     var ws = new WebSocket("ws://{{server}}:{{port}}/realtime/");

    var wsdata;

    ws.onopen = function(evt) {};
    ws.onclose = function(evt) {};

    google.setOnLoadCallback(init);

    function init() {
    ws.onmessage = function(evt) {
        wsdata = eval("(" + evt.data + ")");
        data.setValue(0, 1, wsdata.data);
        drawChart();
    };  

    var options = {
      width: 400,
      height: 240,
      animation:{
        duration: 1000,
        easing: 'out',
      },
      vAxis: {minValue:0, maxValue:1000}
    };
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'N');
    data.addColumn('number', 'Value');
    data.addRow(['V', 200]);

    console.log(data);

    var chart = new google.visualization.ColumnChart(
        document.getElementById('visualization'));

    function drawChart() {
      chart.draw(data, options);
    }

    drawChart();
  }

    </script>
  </head>
  <body>
    <div id="visualization" style="width:400; height:300"></div>
  </body>
</html>
